<html>
	<head>
		<title>Mailroom</title>
		<style>
			.form_input {
				height:2rem;
				width: 10rem;
				font-color: red;
				font-family: "Courier", "Ariel";
				font-size: 1.2rem;
				color: blue;
			}

			form {
				margin-left: 25%;
			}

			label {
				font-family: "Courier", "Ariel";
				font-size: 2rem;
				color: gray;
			}

			h2 {
				font-family: "Courier", "Ariel";
				color: gray;
			}

			h3 {
				font-family: "Courier", "Ariel";
				color: gray;
			}

			footer {
				font-family: "Courier", "Ariel";
				color: blue;
				font-size: .9rem;
			}

			footer p {
				text-align: center;
			}

			nav{
				font-size: 1.5rem;
				font-family: "Courier", "Ariel";
				padding: 0 2rem 0 2rem;
				color: blue;
			}

			.donatoin_list {
				font-family: "Ariel", "Courier New";
				font-size: 1rem;
				color: gray;
				text-align: left;
			}

			.command {
				font-size: 1.5rem;
				width: 8rem;
				font-family: "Courier", "Ariel";
				border-radius: .45rem;
				color: navy;
				background-color: orange;
			}

			body {
				text-align: center;
				margin: 0 10%;
				border-left: .1rem dotted gray;
				border-right: .1rem dotted gray;
			}
			
		</style>
	</head>
	<body>
		<nav>
			<a id="donation_list" href="{{ url_for("all") }}">Donations</a>
			<a id="create_donation" href="{{ url_for("donate") }}">Add Donation</a>
		</nav>
		<h1>Donations</h1>
		<h2>{% block subtitle %} {% endblock subtitle %}</h2>
		{% block content %} {% endblock content %}

		<hr />
	</body>
	<footer>
		<p>Copyright ©2020. Page designed by Asmerom</p>
	</footer>
</html>
